@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,900&display=swap');
body{
  font-family: 'Abel', sans-serif;
  transition: all 1s ease-in-out infinite;
  overflow-x: hidden;
}
*:focus{
    outline: none;
}


/* @media (max-width: 576px) {
    html { font-size: 0.85rem; }
} */

/*
@media (min-width: 768px) {
    html { font-size: 1.5rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.75rem; }
}
@media (min-width: 1200px) {
    html { font-size: 2rem; }
} */