/* .lpage{ */
    /* background: #0575E6;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #021B79, #0575E6);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #021B79, #0575E6); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+         */
    /* color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

} */
body{
    background-color: blue;
}

@media screen and (max-width: 760px) {
    body{font-size: 16px}
    body span.lpage-header{
        font-size: 7em;
        display: block;
    }
}
@media screen and (max-width: 400px) {
    body{font-size: 16px; padding: 0 1em; display: flex;}
    body span.lpage-header{font-size: 3.5em; font-weight: bolder;}
    body span.lpage-text{font-size: 1.6em !important; font-weight: lighter;}
    section{margin: auto;}
}
@media screen and (max-width: 960px) {
    body span.lpage-header{
        font-size: 4rem; 
        font-weight: bolder;
    }
}
body span.lpage-header{
    font-size: 5rem; 
    font-weight: bolder;
}
.lpage .container{
    height: auto;
    margin-top:150px;
}
body span.lpage-text{
    font-size:2em;
    /* color: #ffffff91; */
    color: rgba(255, 255, 255, 0.57);
    letter-spacing: 0.10em;
    display: block;
    
}

button.lpage-btn{
    padding: 1em 1.5em;
    background: #fff;
    border: none;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    color: #2843AC;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 2em;
    transition: all 350ms ease-in-out;
    
}
button.lpage-btn:hover{
    background: #3475E6;
    color: #fff;
}
button.lpage-btn:nth-child(2){
    position: relative;
    left: 20px;
}
footer{
    height: auto;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: auto;
    left: 50%;
    margin-left: -120px;
}
footer.social-icons h3{
    display: inline-block;
    color: #ffffff7a;
}
footer.social-icons i {
    font-size: 25px;
}
footer.social-icons a {
    color: #fff; 
}
footer.social-icons i{
    transition: all 200ms ease-in-out;
    padding: 10px;
}
footer.social-icons i:hover{
    transform: scale(1.1);
}
/* ================ Style for the Navigation Bar ================ */
nav{
    border: 1px solid transparent;
    padding: 25px;
    width: 100%;
    display: flex;
}
nav span.nav-logo a{
    font-size: 25px;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    transition: 500ms ease-in-out;
}
nav span.nav-logo a:hover{
    color: rgba(255, 255, 255, 0.57);
}
section.nav-links{
    text-decoration: none;
    background-color: transparent;
    margin-left: auto;
    height: auto;
}
section.nav-links a{
    list-style-type: none;
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: 500ms ease-out;
}
section.nav-links a:hover{
    color: rgba(255, 255, 255, 0.57);
}

/* ================ End of Navbar Styling ================== */

/* =====================Beginning of Home Page styling ================ */
@import url('https://fonts.googleapis.com/css?family=Pompiere&display=swap');
/* .h-page{ */
    /* background: rgb(168, 19, 49);  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, rgb(168, 19, 49), rgb(168, 19, 49));  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, rgb(168, 19, 49), rgb(168, 19, 49)); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

.h-page-header h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Pompiere', cursive;
    font-weight: lighter;
    text-shadow: 3px 3px 3px rgba(red, 0.5);
}
@media (max-width: 400px) {
    .h-page-header h1{
        text-align: none;
        font-size: 40px;
    }
}
.h-page-header button{
    justify-content: center;
}
button.h-page-btn {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: crimson;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}
button.h-page-btn:hover{
    border-radius: 0px;
    color: #eee;
}





/* ==================== End of home page styling ======================= */

