nav{
    border: 1px solid transparent;
    padding: 25px;
    width: 100%;
    display: flex;

}
nav span.nav-logo a{
    font-size: 25px;
    color: white;
    font-weight: lighter;
    text-decoration: none;
    transition: 500ms ease-in-out;
    padding: 2px;
}
.PNav nav span.nav-logo a{
    font-size: 25px;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    transition: 500ms ease-in-out;
    padding: 2px;
}
@media (max-width: 567px) {
    nav.container{
        display: flex;
        flex-direction: column;
        align-content: stretch;
        flex-wrap: wrap;
    }
    nav span.nav-logo{
        margin: auto;
        align-self: center;
        justify-content: center;
        margin-bottom: 3px;
    }
    nav section.nav-links{
        justify-content: center;
        justify-self: center;
        width: 100%;
        text-align: center;
        
    }
}
nav span.nav-logo a:hover{
    color: rgba(136, 126, 126, 0.57);
}
.PNav nav span.nav-logo a:hover{
    color: crimson;
}
section.nav-links{
    text-decoration: none;
    background-color: transparent;
    margin-left: auto;
    height: auto;
    
}
section.nav-links a{
    list-style-type: none;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: 500ms ease-out;
}

.PNav section.nav-links a{
    list-style-type: none;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    transition: 500ms ease-out;
}
section.nav-links a:hover{
    color: rgba(255, 255, 255, 0.57);
}
.PNav section.nav-links a:hover{
    /* transform: scale(1.2); */
    color: crimson;
}